body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 100vh;
    display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto auto;
  column-gap: 10px;
  row-gap: 10px;


}

section {
    border: solid 4px orangered;
    padding: 10%;
}
#s1{
    grid-row: 1;
    grid-column: 1/3;
}
#s2{
    grid-row: 1/3;
    grid-column: 3;
}
#s4{
    grid-column:2;
    grid-row:2; 
    width: 475px;
    display: grid;
 
}
#s5{
    grid-row:3;
    grid-column: 2 / span 2;
}

#s3{
grid-row:span 3;
}